<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @listing.brand_id %>
</p>

<p>
  <strong>Style:</strong>
  <%= @listing.style_id %>
</p>

<p>
  <strong>Size:</strong>
  <%= @listing.size_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @listing.state_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city_id %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @listing.postcode_id %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
